* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

/* 板心 */
.w {
    margin: auto;
    width: 1220px;
}

/* header 头部部分 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

.logo {
    width: 350px;
    height: 47px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headerList a {
    margin-left: 32px;
}

.current {
    color: #005ba8;
}

/* banner部分 */
.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 499px;
    background: url(/images/contact_banner.jpg) no-repeat center;
    background-size: 100vw 499px;
}

.about {
    display: flex;
    justify-content: center;
}

.aboutInfo {
    width: 328px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.aboutInfo h2 {
    margin-bottom: 14px;
    height: 40px;
    line-height: 40px;
    width: 328px;
    font-size: 40px;
    text-shadow: 1px 2px #000;
}

.aboutInfo h3 {
    margin-bottom: 14px;
    width: 288px;
    height: 26px;
}

.divider {
    margin-bottom: 14px;
    width: 328px;
    height: 1px;
    background-color: #ccc;
}

.aboutInfo p {
    text-align: center;
}

/* nav部分 */

.nav {
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.nav-l {
    display: flex;
    align-items: center;
}

.homeIco {
    margin-right: 10px;
}

.nav-r {
    display: flex;
}

.nav-r a {
    line-height: 55px;
    padding: 0 10px;
}

.curLocation {
    color: #1065ad;
    border-bottom: 1px solid #0a61ab;
}

/* 公司简介模块 */
.comDesc {
    margin: 45px auto;
}

.comDescTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.comDescTop h2 {
    height: 60px;
    line-height: 60px;
}

.comDescTop::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    background-color: blue;
}

.comDescInfo {
    display: flex;
    justify-content: space-between;
}

.comDescInfo-l {
    width: 734px;
    height: 255px;
    color: #333;
    line-height: 40px;
}

/* 主要内容模块 */
.main {
    padding: 45px 0;
    background-color: #f1f1f1;
}

/* 办公环境展示 */
.show {}

.showTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.showTitle h2 {
    height: 80px;
    line-height: 80px;
}

.showTitle::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    background-color: blue;
}

.showImages {
    overflow: hidden;
}

.show-left {
    float: left;
    width: 599px;
    height: 320px;
    background: url(/images/huanjing1.jpg) no-repeat center;
    background-size: cover;
    margin: 0 14px 7px 0;
}

.showInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(28, 107, 174, 0.8);
}

.show-right {
    overflow: hidden;
}

.show-right-item {
    position: relative;
    float: left;
    width: 288px;
    height: 155px;
    color: #fff;
    margin-bottom: 10px;
}

.show-right-item p {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: rgb(28, 107, 174, 0.8);
}

.show-right-item:nth-child(odd) {
    margin-right: 5px;
}

.show-right-item1 {
    background: url(/images/huangjing2.jpg) no-repeat center;
    background-size: cover;
}

.show-right-item2 {
    background: url(/images/huanjing3.jpg) no-repeat center;
    background-size: cover;
}

.show-right-item3 {
    background: url(/images/huanjing4.jpg) no-repeat center;
    background-size: cover;
}

.show-right-item4 {
    background: url(/images/huanjing6.jpg) no-repeat center;
    background-size: cover;
}


/*企业员工培训  */
.train {
    margin-top: 30px;
}

.trainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.trainTitle h2 {
    height: 55px;
    line-height: 55px;
}

.trainTitle::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    background-color: blue;
}

.trainInfo {
    display: flex;
}

.trainInfoItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
}

.trainInfoItem:nth-child(even) {
    flex-direction: column-reverse;
}

.trainInfoItem img {
    flex: 1;
    height: 200px;
}

.trainText {
    flex: 1;
    padding: 0 28px 0;
    text-align: center;
}

.trainTop {
    padding: 18px 0;
    color: #3178b4;
    font-weight: 700;
}

.trainDesc {
    font-size: 14px;
    color: #666;
}


/* 精英团队 */
.team {
    margin-top: 30px;
}

.teamTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.teamTitle h2 {
    height: 55px;
    line-height: 55px;
}

.teamTitle::after {
    display: block;
    content: '';
    width: 90px;
    height: 4px;
    background-color: blue;
}

.teamList {
    display: flex;
}

.teamListItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamListItem h3 {
    font-weight: 700;
    font-size: 24px;
}

.teamListItem p {
    margin: 14px 0;
    color: #666;
    font-size: 12px;
}

.teamListItem img {
    width: 320px;
    height: 340px;
}


.teamListItem button {
    width: 180px;
    height: 40px;
    margin-top: 45px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #333333;
}

.teamListItem .curBtn {
    background-color: #3178b4;
}

/*  */
.footer {
    width: 100%;
    height: 325px;
    background-color: #1e1e1e;
}